@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.feed-property-card__chevron-conatainer {
  display: none;
}

.feed-property-card:hover .feed-property-chevron {
  display: flex;
}
